@import url(https://fonts.googleapis.com/css?family=Fredoka);

* {
    margin: 0;
    padding: 0;
    font-family: 'Fredoka';
    box-sizing: border-box;
    text-decoration: none;
}

body {
    --background-color: #b0305c;
    --base-color: #bd4882;
    --accent-color: #ffb5b5;
    --text-color: #000;
    background: var(--background-color);
    color: var(--accent-color);
}

a {
    display: flex;
    color: var(--accent-color);
    justify-content: center;
}

.text {
    color: var(--text-color);
}

.hoverable {
    transition: all 0.5s ease;
}

.hoverable:hover {
    transform: scale(1.15);
}

.tab-content {
    width: 100%;
    height: 100vh;
    position: absolute;
}

#play {
    display: flex;
    justify-content: center;
    align-items: center;
}

#game-frame {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.grid {
    display: grid;
    padding: 16px 16px;
    grid-template-columns: repeat(5, 1fr);
    gap: 1%;
    height: 100%;
    width: 100%;
}

.grid div {
    border-radius: 25px;
    left: 50%;
    background: var(--accent-color);
    padding: auto;
    width: 250px;
    height: 200px;
}

.top-bar {
    width: 100%;
    position: fixed;
    top: 0;
    padding: 1vh 1vh;
    z-index: 1;
}

.icon {
    width: 5vh;
}

nav {
    display: flex;
    align-items: center;
    justify-content: right;
    flex-wrap: wrap;
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 1vh 2vh;
}
